<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container text-center">
<h1>Добро пожаловать!</h1>

<p><strong>Это генератор паролей. Перейдя по ссылке ниже, вы сможете
самостоятельно настроить сложность вашего пароля.</strong></p>
<br>
<p><a href="{% url 'home' %}" class="btn btn-warning">Создать пароль</a></p>
</div>

</body>
</html>